<!DOCTYPE html>
<html style="width: 100%; height: 100%;">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>Google Maps Multiple Markers</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDocOTLnXB8Kgn46cZSKokpsVHpq6MTORE&libraries=places,drawing&callback=initMap"
    async defer></script>
<!--  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&language=en-AU"></script>-->
  <script src="../assets/js/map.js"></script>
</head>
<body class="w-100 h-100">
  <div class="row h-100">
    <div class="col-12 col-lg-9 p-0">
      <div id="map" class="w-100 h-100"></div>
    </div>
    <div class="col-12 col-lg-3 p-0">
      <div class="d-flex justify-content-center">
        <div class="w-100 p-5">
          <label for="name">Name:</label><br>
          <input class="w-100" type="text" id="name" name="name" placeholder="Enter a name"><br><br>
          <label for="name">Latitude:</label><br>
          <input class="w-100" type="number" id="latitude" name="latitude" placeholder="Enter a latitude"><br><br>
          <label for="name">Longitude:</label><br>
          <input class="w-100" type="text" id="longitude" name="longitude" placeholder="Enter a longitude"><br><br>
          <label for="telephone">Telephone:</label><br>
          <input class="w-100" type="text" id="telephone" name="telephone" placeholder="Enter a telephone"><br><br>
          <label for="address">Address:</label><br>
          <input class="w-100" type="text" id="address" name="address"><br><br>
          <button onclick="submit()">submit</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>